.luxury_sec{padding:50px 0 100px;}
.heading{margin-bottom:100px;}
.text_bg{background-color:rgb(89 60 251 / 50%);height:20px;max-width:650px;margin:0 auto;position:absolute;left:0;right:0;}
.text_bg p{margin-top:-12px;}
.card_cont{display:flex;flex-wrap:wrap;justify-content:center;}
.card{display:flex;flex-direction:column;flex-basis:23%;margin-right:2.5%;margin-bottom:20px;border-radius:10px;box-shadow:0px 2px 8px 0px rgba(99,99,99,0.2);}
.card:last-child,.card:nth-child(4n){margin-right:0;}
.card img{object-fit:cover;height:250px;border-top-left-radius:10px;border-top-right-radius:10px;}
.card .content{padding:10px 0;}
.card h3{text-align:center;}
@media screen and (max-width:1024px){.card{display:flex;flex-direction:column;flex-basis:31.6%;margin-right:2.5%;margin-bottom:20px;border-radius:10px;box-shadow:0px 2px 8px 0px rgba(99,99,99,0.2);}
.card:nth-child(4n){margin-right:2.5%;}
.card:last-child,.card:nth-child(3n){margin-right:0;}
}
@media screen and (max-width:768px){.card_cont{display:block;}
.card{display:block;width:100%;margin-right:0;}
.card img{height:350px;}
.card:nth-child(4n){margin-right:0;}
.card:last-child,.card:nth-child(3n){margin-right:0;}
}
