.slider_sec{padding:100px 0 50px;}
.heading{margin-bottom:50px;}
.text_bg{background-color:rgb(89 60 251 / 50%);height:20px;max-width:650px;margin:0 auto;position:absolute;left:0;right:0;}
.text_bg p{margin-top:-12px;}
.slider{padding:40px 0; max-width: 1240px;margin: 0 auto;}
.card{margin:10px;border-radius:10px;box-shadow:0px 2px 8px 0px rgba(99,99,99,0.2);}
.card img{width:100%;border-top-left-radius:10px;border-top-right-radius:10px;height:200px;object-fit:cover;}
.card p{font-size: 16px;}

@media screen and (max-width:1239px){.slider{ max-width: 1040px;}
}
@media screen and (max-width:1039px){.slider{ max-width: 768px;}
}
@media screen and (max-width:767px){.slider_sec{padding:50px 0;}.slider{ max-width: 300px;}
}
